.App {
    display: table;
    width: 100%;
    max-width: 600px;
    margin: 100px auto 0;
}

.users-list-table {
    border: 5px;
    background: #eaf2fb;
}

.button-user-create {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 600px;
}

#create-user-btn {
    height: 50px;
    background: #1975ff
}

.actions-td {
    width: 150px;
}

.edit-user-icon {
    width: 50px;
    padding-left: 10px;
    float: left;
}

.delete-user-icon {
    width: 50px;
    padding-right: 70px;
    float: right;
}

#edit-user-icon {
    height: 20px;
    width: 20px;
}

#edit-user-icon:hover {
    height: 20px;
    width: 20px;
    opacity: .5;
}

#delete-user-icon {
    height: 22px;
    width: 22px;
}

#delete-user-icon:hover {
    height: 22px;
    width: 22px;
    opacity: .5;
}

.header {
    text-align: center;
    height: 800px;
}

.header__banner-image {
    position: absolute;
    text-align: center;
    height: 800px;
    top: 0;
    left: 0;
    min-width: 100%;
    z-index: -1;
}

.header__banner-image-shadow-glass {
    height: 800px;
    top: 0;
    background-color: #000;
    opacity: 0.5;
}

.header__head-first-text {
    position: relative;
    text-align: center;
    top: -415px;
    width: 100%;
    color: #fff;
    font-family: 'Open Sans', Verdana, sans-serif;
    z-index: 1;
}

.header__line-top {
    position: relative;
    top: -520px;
    left: 0;
    width: 100%;
    color: #fff;
    font-family: 'Open Sans', 'brushType-normal', Verdana, sans-serif;
    z-index: 1;
}

.header__line-bottom {
    position: relative;
    text-align: center;
    top: -440px;
    left: 0;
    width: 100%;
    color: #fff;
    font-family: 'Open Sans', 'brushType-normal', Verdana, sans-serif;
    z-index: 1;
}

.header__head-second-text {
    position: relative;
    top: -420px;
    color: #cdcdcd;
    font-family: 'Open Sans', Verdana, sans-serif;
    z-index: 1;
}

.header__button-scroll-to {
    width: 250px;
    height: 48px;
    top: -350px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    overflow: visible;
    display: block;
    padding: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease-out;
    font-family: 'Open Sans', Verdana, sans-serif;
    z-index: 2;
}

.header__button-scroll-to:hover {
    background-color: #e1e1e1;
    color: #000;
}

.header__button-scroll-to:focus {
    background-color: #2f9fc4;
    color: #000;
}

.header__button-scroll-to:active {
    background-color: #e1e1e1;
    color: #000;
}

#header__to-body-link {
    position: relative;
    top: -180px;
    /*display: none;*/
    z-index: -1;
}
